body, #root {
  height: 100%;
  min-height: 100%;
  font-family: 'Manga';
}

@font-face {
  font-family: 'Manga';
  src: url("./fonts/mangat.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manga';
  src: url("./fonts/mangatb.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manga';
  src: url("./fonts/mangati.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}